<?xml version="1.0"?>


<config>
    <global>
        <models>
            <CmsMagento>
                <class>Mage_CmsMagento_Model</class>
            </CmsMagento>
        </models>
    </global>
    <frontend>        
        <routers>
            <CmsMagento>
                <use>standard</use>
                <args>
                    <module>Mage_CmsMagento</module>
                    <frontName>CmsMagento</frontName>
                </args>
            </CmsMagento>
        </routers>
	<translate>
            <modules>
                <Mage_CmsMagento>
                    <files>
                        <default>Mage_CmsMagento.csv</default>
                    </files>
                </Mage_CmsMagento>
            </modules>
        </translate>        
    </frontend>
    <default>
        <payment>
            <CmsMagento>
                <active>1</active>
                <model>CmsMagento/method_CmsMagento</model>
                <order_status>1</order_status>
		<payment_success_status>2</payment_success_status>
                <title>CmsMagento</title>
				<allowspecific>0</allowspecific>
            </CmsMagento>
         </payment>
    </default>
	<global>
	 <models>
            <CmsMagento>
                <class>Mage_CmsMagento_Model</class>
                <resourceModel>CmsMagento_mysql4</resourceModel>
            </CmsMagento>
            <CmsMagento_mysql4>
                <class>Mage_CmsMagento_Model_Mysql4</class>
                <entities>
                    <CmsMagento>
                        <table>CmsMagento</table>
                    </CmsMagento>
                </entities>
            </CmsMagento_mysql4>
        </models>
	   <resources>
			<CmsMagento_setup>
				<setup>
					<module>Mage_CmsMagento</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</CmsMagento_setup>
			<CmsMagento_write>
				<connection>
					<use>core_write</use>
				</connection>
			</CmsMagento_write>
			<CmsMagento_read>
				<connection>
					<use>core_read</use>
				</connection>
			</CmsMagento_read>
		</resources>
    </global>
</config>